@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: fit-content;
  min-width: 360px;
  height: fit-content;
  min-height: fit-content;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
